@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee&family=Lato&display=swap');

*{
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}

.title{
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  font-family: 'Bungee', cursive; 
 
}
.sticky-top{
font-family: 'Lato', sans-serif;
font-size:  20px;
 font-weight: bold;
}
.carousel{
 justify-content: center;
 align-items: center;
 font-family: 'Bungee', cursive;

}
.featureTitle{
  margin-top: 10px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 50px;
}
.allProducts{
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  font-family: 'Bungee', cursive;
 
}
.items{
  padding-bottom: 20px;
justify-content:  center;
  
}

.button{
  padding: 20px;

}
.register{
  padding: auto;
  margin-bottom: 20px;
}
.login{
  padding: auto;
  margin-bottom: 20px;

}

.brand{
 color: white;
 font-family: 'Black Ops One', cursive;
 
}
.addToCartButton {
font-family: 'Bungee', cursive;
 backgroundColor:'black';

}


.dashboardButton{
   margin-bottom: 10px;

}
.dashboardTitle{
   margin-bottom: 10px;
   font-weight:   bold;
   font-family: 'Lato', sans-serif;
   
}
.editButton{
  margin-right:  20px;
  justify-content:  center;


}
.registerButton{
 font-family: 'Bungee', cursive;
  backgroundColor:'black';
  margin-top: 20px ;
 
}
.loginButton{
 font-family: 'Bungee', cursive;

   padding:  50px;
 
}
